@import "../Assets/scss/components/_variables.scss";


main {
    padding: 20px 2%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.clearfix {
    clear: both;
}


.main-banner {
    width: 100%;
}

.filters {
    width: 15%;
    float: left;

    .star-button-container {
      text-align: center;
      small {
        color: #aaa;
        margin-bottom: 8px;
        display: inline-block;
      }

    }

    .title {
        margin-top: 2px;
        margin-bottom: 20px;
    }


}

.shelf-container {
    width: 85%;
    float: left;
    min-height: 600px;

    &-header {
        margin-bottom: 10px;

        .products-found {
            float: left;
            margin: 0;
            margin-top: 8px;
        }

        .sort {
            float: right;
        }
    }

    .shelf-item {
        float: left;
        width: 25%;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid #eee;

            .btn-success {
                background-color: $primary-color;
            }
        }

        .shelf-stopper {
            position: absolute;
            color: #ececec;
            top: 10px;
            right: 10px;
            padding: 5px;
            font-size: 0.6em;
            background-color: $black-color;
            cursor: default;
        }

        &__thumb {
            height: 168px;
            padding: 0 25px 20px;
            margin-top: 20px;
            overflow: hidden;
            position: relative;
            img {
              width: auto;
              max-height: 140px;
              display: block;
              margin: auto;
              padding: 4px;
              transition: .3s all ease;
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              top: 0;
            }
        }

        &__title {
          font-size: 14px;
          margin-bottom: 5px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__price {
            height: 60px;

            .val {
                b {
                    font-size: 1.5em;
                    margin-left: 5px;
                }
            }

            .installment {
                color: #9c9b9b;
            }
        }

    }
}


@media only screen and (max-width : 1024px) {
    .filters {
        width: 20%;
    }

    .shelf-container {
        width: 80%;

        .shelf-item {
            width: 33.33%;

            &__title {
            }
        }
    }

}

@media only screen and (max-width : 640px) {
    .filters {
        width: 25%;
    }

    .shelf-container {
        width: 75%;

        .shelf-item {
            width: 50%;
            padding: 10px;

            &__title {
                margin-top: 5px;
                padding: 0;
            }
        }
    }

    .float-cart {
        width: 100%;
        right: -100%;

        &--open {
            right: 0;
        }

        &__close-btn {
            left: 0px;
            z-index: 2;
            background-color: $black-color;
        }

        &__header {
            padding: 25px 0;
        }


    }
}

@media only screen and (max-width : 460px) {
    main {
        padding: 2%;
    }

    .filters {
        width: 100%;

        .title {
            margin-bottom: 15px;
        }
    }

    .shelf-container-header {
        .products-found {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .sort {
            width: 100%;
            text-align: center;
        }
    }


    .shelf-container {
        width: 100%;

        .shelf-item {
            width: 100%;
        }
    }
}
